@charset "ISO-8859-1";

h1 {
	float: left;
	font-family: cursive;
	margin: 0 70px;
	margin-top: -45px;
	padding: 300px 50px;
	background: rgb( 5, 25, 56);
	color: white;
	border-radius: 12px;
	text-shadow: 3px 3px 2px black;
	opacity: 0.7;
}

.dados1 {
	margin-top: 50px;
	margin-right:50px;
	margin-left: -10px;
	border-bottom-right-radius:12px;
	border-top-right-radius: 12px;
	float: center;
	background-color: rgb(243, 231, 237);
	animation-name: dadosumani;
	animation-duration: 4s;
	animation-timing-function: ease-out;
	box-shadow: 2px 2px gray;
}

@keyframes dadosumani {
	0% {margin-right: 400px;}
	50% {margin-right: 10px;}
	100% {margin-right: 50px;}
}

.dados2 {
	margin-top: 10px;
	margin-left:385px;
	margin-right: -20px;
	border-bottom-left-radius:12px;
	border-top-left-radius: 12px;
	float: center;
	background-color: rgb(238, 245, 150);
	animation-name: dadosdoisani;
	animation-duration: 2s;
	animation-timing-function: ease;
	box-shadow: 0px 2px 2px gray;
}

@keyframes dadosdoisani {
	0% {margin-left: 700px;}
	100% {margin-left: 385px;}
}

.dados3 {
	float: center;
	margin-left: 150px;
	margin-bottom: -10px;
	background-color: rgb(150, 240, 150);
	border-top-left-radius:12px;
	border-top-right-radius: 12px;
	animation-name: dadostresani;
	animation-duration: 2s;
	animation-timing-function: ease;
}

@keyframes dadostresani {
	0% {margin-top: 50px;}
	100% {margin-top: 0px;}
}